*, :after, :before {
    box-sizing:border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

svg.path {
  stroke: #f2d388;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Infant', Georgia, Times, serif;
    font-size: 25px;
    color: #111;
    line-height: 1.6;
    background-color: white;
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing:content-box;
    height:0;
    overflow:visible;
    border:0;
    margin:25px 0
}

b, strong {
    font-weight: bolder;
}

sub, sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}

sub {
    bottom:-.25em
}

sup {
    top:-.5em
}

button, input, optgroup, select, textarea {
    font-family:inherit;
    font-size:100%;
    line-height:1.15;
    margin:0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none;
    background:#ddd;
    border:0;
    padding:9px 20px;
    font-size:14px
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance:button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style:none;
    padding:0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline:1px dotted ButtonText
}

table {
  border-spacing:0;
  border-collapse:collapse;
  text-align:left;
  padding-bottom:25px
}

hr, td, th {
    border-bottom:1px solid #ddd
}

td.final {
  border-bottom: none;
}

input, table {
    font-size:20px
}

input, td, th {
    padding:5px;
    vertical-align:bottom
}

button:hover, code, pre {
    background:#eee
}

.row {
    display:block;
    width:auto;
    min-height:1px
}

.row:after {
    content:"";
    display:table;
    clear:both
}

.row .c {
    float:left
}

.g2, .g3, .g3-2, .m2, .m3, .m3-2, table {
    width:100%
}

@media (min-width:768px) {
    .g2 {
        width:50%
    }

    .m2 {
        margin-left:50%
    }

    .g3 {
        width:33.33%
    }

    .g3-2 {
        width:66.66%
    }

    .m3 {
        margin-left:33.33%
    }

    .m3-2 {
        margin-left:66.66%
    }
    section.intro div.row div.c {
      padding-right: 30px
    }
}

h1 {
  line-height: 0.9;
}

a {
  background-color: transparent;
  color: #BB941F;
  text-decoration: none;
  word-wrap: break-word;
}

a:hover {
  color:#816615;
  text-decoration: underline;
}

p {
  line-height: 1.125;
}

img {
  max-width: 100%;
}

img.border {
  border: 1px solid #CCA22C;
}

img.main-logo {
  display: block;
  margin: 0 auto 40px auto;
}

img.lead {
  display: block;
  margin: 0 auto;
}

img.about {
  width: 500px;
}

img.kicker {
  width: 70px;
  display: block;
  margin: 20px auto 0 auto;
}

div.section-inner {
  padding: 3rem;
}

div.section-inner h1 {
  text-align: center;
  margin: 0;
}

section.intro {
  margin: 8rem 4rem 0 4rem;
}

section.legacy {
  padding-top: 3rem;
}

section.about {
  margin-bottom: -100px;
  padding-bottom: 10px;
}

p.tagline {
  text-align: center;
  font-size: 16px;
}

div.inventory-wrapper {
   margin: 0 -15px 0 -15px;
}

div.box {
  padding: 10px;
  margin: 15px;
  border: 1px solid #CCA22C;
  border-top: 10px solid #CCA22C;
  cursor: pointer;
}

div.box table {
  display: none;
}

div.box h4 {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 5px 0 15px 0;
  text-align: center;
  line-height: 1;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

p.firstgraf {
  margin-top: 0;
}

img.divider {
  display: block;
  margin: -100px auto -150px auto;
  width: 250px;
}

div.social {
  margin-top: 50px;
  display: flex;
}

div.social a {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 8px 0;
  border-top: 1px solid #CCA22C;
  border-bottom: 1px solid #CCA22C;
}

div.social a:hover {
  background-color: #f8f1dd;
}

img.social-icon {
  width: 30px;
  padding-top: 10px;
}

footer {
  padding: 1rem;
}

div.about {
  padding-left: 30px;
}

@media (max-width:768px) {
  div.section-inner {
    padding: 2rem;
  }
  p.firstgraf {
    margin-top: 30px;
  }
  section.intro {
    margin: 2rem;
  }
  img.main-logo {
    margin: 0;
  }
  img.lead {
    display: none;
  }
  section.legacy {
    padding-top: 0;
  }
  div.about {
    padding-left: 0;
  }
  img.about {
    margin: 0 auto 30px auto;
    display: block;
  }
}